*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

p {
    font-size: 1.5rem;
}

ul li {
    font-size: 1.5rem;
}

:root {
    --primary-color: #d10024;
    --scondary-color: #ef233c;
    --gary-color: #8d99ae;
    --header-color: #15161d;
    --nav-color: #1e1f29;
}

body {
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* ==========  nav top  ========== */
.nav-top {
    width: 100%;
    background-color: var(--nav-color);
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

.nav-top-center {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.nav-top-center p:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.nav-top-center i {
    padding: 0 0.7rem;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.adress--top {
    display: flex;
    align-items: center;
}

.adress--top p,
.login--top p {
    transition: all 0.2s ease-in-out;
}

.login--top {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

@media screen and (max-width: 480px) {

    .nav-top-center p,
    .nav-top-center span i {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 768px) {
    .nav-top-center {
        flex-direction: column;
    }
}

/* ========== header ========== */
.header-top {
    background-color: var(--header-color);
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid #b20600;
}

.header-title h1::after {
    content: ".";
    color: #b20600;
}

.center-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: xxx-large;
}

.search-box {
    display: flex;
    flex-direction: row;
}

.search-box input[type="search"] {
    padding: 1rem;
    width: 60%;
}

.search-box input[type="text"] {
    width: 25%;
    outline: none;
    border: none;
}

.all-categories {
    padding: 1.2rem;
    border-radius: 8rem 0 0 8rem;
    outline: none;
    border: none;
}

.btn-search {
    outline: none;
    border: none;
    width: 18%;
    background-color: #b20600;
    color: #fff;
    border-radius: 0 10rem 10rem 0;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.icons-header {
    display: flex;
    flex-direction: row;
    position: relative;
}

.icon-header__title {
    cursor: pointer;
}

.icons-header>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
}

.icons-header>div>span {
    position: relative;
}

.icon-cunt,
.cart-item-cunt {
    background-color: #b20600;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.3rem;
    border-radius: 50%;
    position: absolute;
    top: -1.5rem;
    right: -1.2rem;
}

.icons-header span i {
    font-size: 1.5rem;
}

.menu-hidden span i {
    font-size: 1.7rem;
    cursor: pointer;
}

@media screen and (min-width: 769px) {
    .menu-hidden span {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .center-header {
        flex-direction: column;
    }

    .menu-hidden {
        display: block;
    }

    .search-box {
        margin: 2.5rem;
    }
}

@media screen and (max-width: 480px) {

    .search-box input[type="search"],
    .search-box input[type="text"],
    .btn-search,
    .icons-header p,
    .icons-header span i {
        font-size: 1.2rem;
    }
}

/* =========  main menu  ==========  */

.main-menu {
    background-color: #fff;
    border-bottom: solid 2px #ccc;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
}

ul {
    display: flex;
}

ul li {
    padding: 1rem;
}

li a {
    text-decoration: none;
    color: #000;
    transition: all 0.2s ease-in-out;
}

li a:focus,
li a:hover {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-position: under;
}

@media screen and (max-width: 480px) {
    .main-menu {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .main-menu {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .main-menu {
        display: flex;
    }
}

/* ========== asid ========== */

.asid-section {
    display: flex;
    justify-content: center;
}

.asid-collection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 290px));
    justify-content: space-around;
}

.asid-collection div {
    position: relative;
    overflow: hidden;
    margin-top: 3rem;
}

.text-asid {
    position: absolute;
    top: 20px;
    left: 10px;
}

.text-asid p {
    color: #fff;
    font-size: 3rem;
}

.text-asid a {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.img-collection {
    width: 100%;
    height: 100%;
}

.img-collection:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.Triangle {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    border-top: 350px solid var(--primary-color);
    border-right: 220px solid transparent;
    opacity: 85%;
}

/* ========= new product ========== */

.new-products {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .new-products-header {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }
  
  .new-products-header h2 {
    font-weight: bold;
  }
  
  .new-products-menu {
    display: flex;
    flex-direction: column;
  }
  
  .new-products-menu li a {
    color: var(--gary-color);
    transition: all 0.2s ease-in-out;
  }
  
  .new-products-menu li a:focus,
  .new-products-menu li a:hover {
    color: var(--primary-color);
  }
  
  @media screen and (min-width: 768px) {
    .new-products-header {
      flex-direction: row;
    }
  
    .new-products-menu {
      flex-direction: row;
    }
  }
  
  .products {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    gap: 5rem;
    padding: 2rem;
  }
  
  @media screen and (min-width: 768px) {
    .products {
      grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
      gap: 3rem;
    }
  }
  
  .product-items {
    position: relative;
    border: 2px solid #ccc;
    transition: all ease-out 0.2s;
  }
  
  .product-items:hover {
    border-color: var(--scondary-color);
  }
  
  .off-price {
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 0.3rem 1rem;
    border: 2px solid var(--primary-color);
  }
  
  .add-to-cart-btn {
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    color: var(--primary-color);
    margin: 1rem 0;
    padding: 1rem;
    border: #000 solid 1px;
    cursor: pointer;
  }
  
  .products-img {
    width: 100%;
    height: 50%;
  }
  
  .descriptions-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  
  .category-products {
    font-size: 1.8rem;
    color: rgb(63, 65, 65);
  }
  
  .products-name {
    font-size: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
  }
  
  .products-price {
    font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;
  }
  
  .products-price-off {
    font-size: 1.5rem;
    color: #ccc;
    text-decoration: line-through;
  }
  
  .rating {
    border-top: 1px solid gray;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .rating-star {
    position: absolute;
    top: -5px;
    color: var(--primary-color);
    font-size: medium;
  }
  
  .icons {
    margin: 3rem;
    padding-bottom: 3rem;
    font-size: 1.2rem;
    color: gray;
    display: flex;
    justify-content: space-evenly;
  }
  
  .icons span {
    font-size: 1.3rem;
    cursor: pointer;
  }
  
  .icons span:hover {
    color: var(--primary-color);
  }
  
  @media screen and (min-width: 768px) {
    .icons span {
      font-size: 1.5rem;
    }
  }